@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
 min-height: 100%;
 overflow-y: scroll;
}

::-webkit-scrollbar-track {
 /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);  */
background: transparent;
}

::-webkit-scrollbar { 
 background: #f9f871;
  width:1rem;
}

::-webkit-scrollbar-thumb {
 background: rgba(0, 0, 0, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
border: 1px solid rgba(255, 255, 255, 0.18);
 border: 5px solid transparent;
 border-radius: 100vmax;

}

::-webkit-scrollbar-thumb:hover {
 background: rgba(0, 0, 0, 0.5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
border: 1px solid rgba(255, 255, 255, 0.22);

}

body{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 23px;
 height: 100%;
 background-image: linear-gradient(to right, #d65db1, #e861a2, #f46993, #fc7486, #ff827b, #ff8f73, #ff9d6d, #ffac69, #ffbe66, #ffd166, #ffe469, #f9f871);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 padding-top: 5%;
 padding-bottom: 5%;
}

img{
 width: 100px;
 border-radius: 50%;
}

h3{
 font-family: 'Lato', Arial, sans-serif;
 font-size: 1.5rem;
}

h5{
 margin-top: -1.3rem;
 font-family: 'Lato', Arial, sans-serif;
 color: rgba(0, 0, 0, 0.5);
 font-size: 1.1rem;
}

p{
 text-align: center;
 font-size: 0.8rem;
}

i{
 color: rgba(0, 0, 0, 0.4);
 font-size: 1.5rem;
}

i:hover{
 color: rgba(0, 0, 0, 0.7);
 transition: ease-in;
 transition-duration: 0.2s;
}


.cardHolder{
 background: transparent;
 width: 100%;
 height: 100%;
 padding: 5%;
display: grid;
place-items: center;
grid-template-columns: repeat(3, 1fr);
 overflow: hidden;
 flex-wrap: wrap;
 gap: 3rem;
}


.sue,
.will,
.indigo {
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
border: 1px solid rgba(255, 255, 255, 0.1);
 height: 27rem;
 width: 20rem;
 padding: 3rem;
 border-radius: 20px;
 display: grid;
 place-items: center;
 flex-wrap: wrap;
 gap: 2rem;

}

.sue:hover,
.will:hover,
.indigo:hover {
 transition: all .2s ease;
 background: rgba(255, 255, 255, 0.3);
} 


.socials {
 display: flex;
 flex-direction: row;
 min-width: 150px;
 justify-content: space-evenly;
}


@media  (max-width:1227px) {

 .cardHolder {
  grid-template-columns: repeat(2, 1fr);
 }
 
}

@media  (max-width:770px) {

 .cardHolder {
  grid-template-columns: 1fr;
 }
 
}

